<header id="home">
    <div class="container">
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#intro">Intro</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#project">Projects</a></li>
            <li><a href="#endpage">End Page</a></li>
        </ul>
    </nav>
    </div>  
</header>
