#copyright {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    padding-left: 25%;
    margin-right: 0%;
    padding-top: 0%;
}

.icon {
    margin-left: 20%;
    padding-left: 3%;
    padding-bottom: 10%;
    padding-top: -15%;
}

.uparrow {
    margin-top: -25px;
    margin-right: -120px;
    float: right;
}