<div id="endpage">
    <div class="container">
        <div class="row">
          <div class="col-sm" id="copyright">
            ©TybeRijks, Inc. All rights reserved.
          </div>
          <div class="col-sm">
            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <a href="https://www.linkedin.com/in/tybe-rijks" target="_blank"><img class="icon" src="/assets/Web-icons/linkedin.png" width="50px" alt="icon linkin with link"></a>
                    <a href="https://gitlab.com/IClaudiusRT" target="_blank"><img class="icon" src="/assets/Web-icons/GitLab.png" width="50px" alt="icon gitlab with link"></a>
                  </div>
                  <div class="col-sm">
                    <a href="#home"><img src="/assets/Web-icons/uparrow.png" class="uparrow" width="50px" alt="href up arrow"></a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>

