<div class="head-title">Your Personal Library</div>
<div class="container">
  <div class="row">
    <div class="col-sm" id="row-box-makeup">
      <div class="container">
        <div class="row">
          <div class="col-sm" >
            <div class="books-library-title">Books in your Library</div>
          </div>
          <div class="col-sm">
            <div class="container">
              <button class="btn btn-4 btn-sep btn-self btn-left" (click)="getStoredList()">Open Your Library</button>
            </div>
          </div>
          <div class="col-sm">
            <div class="container">
              <button class="btn btn-4 btn-sep btn-self btn-right" (click)="removeLocalData()">Delete cache</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div *ngIf="booksInLibrary">
          <div class="scoll-box-makeup">
            <div class="col" id="box-scroll">
              <div *ngFor="let item of booksInLibrary">
                <button
                  class="btn btn-4 btn-sep"
                  (click)="openDetails(item.volumeInfo.title)"
                >
                  <div class="details-title">- {{ item.volumeInfo.title }}</div>
                  <div class="details-author">
                    {{ item.volumeInfo.authors }}
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm" id="row-box-makeup">
      <div class="books-library-title">Details Of Books</div>
      <div class="container" id="box-two">
        <div *ngIf="tempBook">
          <div class="image">
            <img
              *ngIf="tempBook.volumeInfo.imageLinks.thumbnail"
              [src]="tempBook.volumeInfo.imageLinks.thumbnail"
              alt=""
              width="145"
              height="200"
            />
          </div>
          <div class="author">
            <div
              *ngFor="let aut of tempBook.volumeInfo.authors"
              class="author-two"
            >
              Authors: {{ aut }}
            </div>
          </div>
          <div class="details">Title: {{ tempBook.volumeInfo.title }}</div>
          <div>
            <p>
              <button
                class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Read Description
              </button>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                {{ tempBook.volumeInfo.description }}
              </div>
            </div>
          </div>
          <div class="extra-info">
            <div
              *ngFor="let cat of tempBook.volumeInfo.categories"
              class="category"
            >
              <div>Categories: {{ cat }}</div>
            </div>
            <div class="publish">
              PublishDate: {{ tempBook.volumeInfo.publishedDate }}
            </div>
            <div class="rating">
              Average Rating: {{ tempBook.volumeInfo.averageRating }}
            </div>
            <div class="info">
              Link to
              <a href="{{ tempBook.volumeInfo.infoLink }}" target="_blank"
                >Book</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
