#box-scroll {
    overflow-y: scroll;
    height: 600px;
    background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgb(165, 165, 165)
    );
}

#box-two {
    overflow: hidden;
    height: 638px;
    background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(165, 165, 165)
  );
  color: black;
}

#row-box-makeup {
    border-style: solid;
    border-width: 0.5px;
    color: white;
}



/* General button style */
.btn {
    border: none;
    font-family: 'Lato';
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 5px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    font-size: 12px;
  }

  .details-title {
      font-size: 14px;
  }
  
  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Pseudo elements for icons */
  .btn:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }  
  
  /* Icon separator */
  .btn-sep {
    padding: 25px 60px 25px 120px;
  }
  
  .btn-sep:before {
    background: rgba(0,0,0,0.15);
  }
  
  /* Button Black */
  .btn-4 {
    background: #34495e;
    color: #fff;
  }
  
  .btn-4:hover {
    background: #2c3e50;
  }
  
  .btn-4:active {
    background: #2c3e50;
    top: 2px;
  }
  
  .btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }

  .btn-self {
      width: 120px;
      height: 60px;
      font-size: 10px;
      padding: 0 0 0 0;
      margin: 5px -50px 0 0;
  }

  .btn-right {
      float: left;
  }

  .btn-left {
      float: right;
  }

  .head-title {
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 60px;
    margin-right: 0%;
    padding-top: 0%;
    padding-bottom: 2%;
    padding-left: 5%;

  }

  .books-library-title {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    margin-right: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
  }

  .image {
    text-align: center;
  }

  .author {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: medium;
    width: 100%;
    height: 60px;
  }

  .category .publish .rating .info .card {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: smaller;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 60px;
  }
  
  