header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav {
    
    float: right;
    margin-right: 0px;
    padding-top: 40px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 25px;
    position: relative;
}

nav a {
    color: rgb(66, 63, 63);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover{
    color: #000;
}

nav a::before {
    content:  '';
    display: block;
    height: 5px;    
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}