<header>
  <div class="container" id="project">
    <nav>
      <ul>
        <li><a class="nav-link" routerLink="">All Projects</a></li>
        <li><a class="nav-link" routerLink="//search">Search Books</a></li>
        <li><a class="nav-link" routerLink="//libraryapp">Personal Library</a></li>
      </ul>
    </nav>
  </div>
</header>
