a:hover,a:focus{
  text-decoration: none;
  outline: none;
}
#accordion .panel{
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 5px;
  width: 200%;
}
#accordion .panel-heading{
  padding: 0;
  border-radius: 0;
  text-align: left;
  border: none;
}
#accordion .panel-title a{
  display: block;
  transition: all 0.5s ease 0s;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #2a0357;
  
}
#accordion .panel-title a:hover{
  background: rgba(12, 1, 25, 0.8);
}
#accordion .panel-body{
  font-size: 14px;
  color: #fff;
  background: #66747c;
  padding: 15px 20px;
  line-height: 25px;
  border: none;
  position: relative;
}
#accordion .panel-body:after{
  content: "";
  position: absolute;
  top: -30px;
  left: 40px;
  border: 15px solid transparent;
  border-bottom: 15px solid #ccd1d1;
}

.container {
  padding-top: 6%;
  padding-left: -40%;
  padding-right: -40%;
  
}

#title-projects {
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
  padding-left: 15%;
  margin-right: 0%;
  padding-top: 0%;
}

.important-info {
  padding-top: 3%;
  font-weight: bold;
  font-size: 18px;
}

img {
  height: 50px;
  width: auto;
}

.git-link {
  float: right;
}

.full-projects {
  padding-bottom: 15%;
}