<div class="full-projects">
  <div id="title-projects">Projects</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div
          class="panel-group"
          id="accordion"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  TimeSheet App
                </a>
              </h4>
            </div>
            <div
              id="collapseOne"
              class="panel-collapse collapse in"
              role="tabpanel"
              aria-labelledby="headingOne"
            >
              <div class="panel-body">
                My very first project, after concluding my course in Java
                basics. I worked on this project with one collegue, so it was a
                great first introduction to pair programming and the use of git.
                The program itself has basic functionality and the Java code
                used was rather simple. It was a great first step towards more
                complex coding. If you would like to see the written code you
                can click on the GitLab icon, this wil take you to my projects.
                <div class="icons">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <img
                          class="image-hover"
                          src="/assets/Web-icons/Java.png"
                          alt="Java-Logo"
                        />
                      </div>
                      <div class="col-sm">
                        <a href="https://gitlab.com/wietse_van_belle/timesheettw" target="_blank">
                        <img
                          class="git-link"
                          src="/assets/Web-icons/GitLab.png"
                          alt="gitlab-link-image"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  The Legend Of the Lamb
                </a>
              </h4>
            </div>
            <div
              id="collapseTwo"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingTwo"
            >
              <div class="panel-body">
                My second Java Project, after finishing the advanced Java
                course. The project itself is a text based rpg game playable in
                the console. The game has fantasy classes, items, inventory, a
                traversable map and savefiles. This project was done in a team
                of two. The Java code is more complex then my previous project.
                I learned a lot during the coding, specifically concerning
                program logic, how to write code logically and as simple as
                possible. The application itself has its basic structure
                completed, and the code is set up to easily expand. The game
                might be expanded upon further in the future. If you would like
                to see the code; please press the GitLab icon.
                <div class="icons">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <img
                          class="image-hover"
                          src="/assets/Web-icons/Java.png"
                          alt="Java-Logo"
                        />
                      </div>
                      <div class="col-sm">
                        <a href="https://gitlab.com/IClaudiusRT/textrpg_wt" target="_blank">
                        <img
                          class="git-link"
                          src="/assets/Web-icons/GitLab.png"
                          alt="gitlab-link-image"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Personal Library - Book Search App
                </a>
              </h4>
            </div>
            <div
              id="collapseThree"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingThree"
            >
              <div class="panel-body">
                My first Angular project, this application consists of a Search
                Query and a Personal Library Application. For both of these
                aspects I connect to the Google Books Api, the Search Query will
                send a request to Google Books Api to find books similar to the
                query, if the request succeeds the Google Books Api will return
                the valid data. The Personal Library continues on this premise,
                once you have found a book using the search query, you can store
                them in the Local Cache of your browser. This system is more
                complex but allows to expand greatly on the Personal Library
                functionality.
                <div class="important-info">
                  I have also integrated these applications on this website, so
                  if you want to try it out you can click on the links; SEARCH
                  BOOKS and PERSONAL LIBRARY. Have fun and if you have any
                  remarks or suggestions please let me know by using the CONTACT
                  form. Thank you in advance!
                </div>
                <div class="icons">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <img
                          class="image-hover"
                          src="/assets/Web-icons/Angular (2).png"
                          alt="Java-Logo"
                        />
                      </div>
                      <div class="col-sm">
                        <a href="https://gitlab.com/IClaudiusRT/portfoliositelibraryapp" target="_blank">
                        <img
                          class="git-link"
                          src="/assets/Web-icons/GitLab.png"
                          alt="gitlab-link-image"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  role="button"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  Coming Soon
                </a>
              </h4>
            </div>
            <div
              id="collapseFour"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingFour"
            >
              <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                lacinia lacinia mauris, at ultricies leo ornare nec. Vivamus eu
                est vel felis dignissim tempor. Nulla facilisi. Duis molestie
                tortor ac tempor volutpat. Phasellus nec mi aliquet,
                sollicitudin neque eget, consectetur libero. Vestibulum
                sollicitudin sapien libero, egestas tempus eros scelerisque eu.
                <div class="icons">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <img
                          class="image-hover"
                          src="/assets/Web-icons/Java.png"
                          alt="Java-Logo"
                        />
                      </div>
                      <div class="col-sm">
                        <img
                          class="git-link"
                          src="/assets/Web-icons/GitLab.png"
                          alt="gitlab-link-image"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
