<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="container">
          <div class="contact-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae
            porro repellat eum voluptatem qui repellendus minima quaerat
            suscipit, consectetur, explicabo cupiditate, facilis asperiores!
            Perspiciatis ea minus enim iusto dolores corrupti?
          </div>
          <button
            class="btn btn-4 btn-sep btn-self"
            (click)="openContactForm()"
          >
            Contact Me
          </button>
        </div>
      </div>
      <div class="col-sm">
        <div class="full-height">
          <div *ngIf="!isHidden" class="wrapper">
            <div class="box-to-hide"></div>
            <iframe
              src="https://docs.google.com/forms/d/e/1FAIpQLSevx1qcTAFmt73VZ9oLopEvYFE5DwRiIwX46K9tLm-HYeTOsg/viewform?embedded=true&hl=en"
              width="440"
              height="800"
              frameborder="0"
              marginheight="0"
              marginwidth="0"
              >Loading…</iframe
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
