/* General button style */
.btn {
    border: none;
    font-family: 'Lato';
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 5px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    font-size: 12px;
  }

  .details-title {
      font-size: 14px;
  }

  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  /* Pseudo elements for icons */
  .btn:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }

  /* Icon separator */
  .btn-sep {
    padding: 25px 60px 25px 120px;
  }

  .btn-sep:before {
    background: rgba(0,0,0,0.15);
  }

  /* Button Black */
  .btn-4 {
    background: #34495e;
    color: #fff;
  }

  .btn-4:hover {
    background: #2c3e50;
  }

  .btn-4:active {
    background: #2c3e50;
    top: 2px;
  }

  .btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }

  .btn-self {
      width: 300px;
      height: 80px;
      font-size: 18px;
      padding: 0 0 0 0;
      margin: 10%;
  }

  /* .contact-text {
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 40%;
      padding-bottom: 100px;
  } */

  .col-sm {
      display: flex;
      justify-content: center;
      align-items: center;

  }

  .full-height {
      height: 800px;
      padding-top: 20%;
      
  }

  .full-contact-form {
      padding-top: 35%;
      margin-bottom: -20%;
  }

  .wrapper {
    position:relative;
    z-index: 1;
    display: inline-block;
}

.box-to-hide {
    position: absolute;
    width: 600px;
    height: 80px;
    background:white;
    right: 20px;
    bottom: 80px;
    z-index:999;
    display: block;
    color: #fff;
}


  



