.container {
  padding-top: 50px;
  padding-bottom: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 80vh;
}

#name-intro {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
}

#name {
    text-align: center;
    margin-left: 0px;
}

#line-one {
    background-color: black;
    margin: 0px 350px 0px 0px;
    padding: 0px 80px 8px 8px;
}

#line-two {
    background-color: black;
    margin: 0px 0px 0px 350px;
    padding: 0px 80px 8px 8px;
}

#intro-txt {
    margin-top: 150px;
    padding-left: 180px;
    padding-right: 100px;
}
