<div class="container" id="intro">
  <div class="row">
    <div class="col-sm" id="name-intro">
        <div class="small-row" id="line-one"></div>
        <div class="small-row" id="name">Tybe Rijks</div>
        <div class="small-row" id="line-two"></div>
    </div>
    <div class="col-sm" id="intro-txt">
      Welcome! I'm Tybe Rijks creator of this site that functions as my resume.
      Half a year ago I decided to switch careers, and after a lot of researching I came to 
      the conclusion that Java Developer was truly interesting and came with a lot of 
      professional opportunities. Some parts of this website have
      interactive applications build in, so have fun! If you would like to contact me 
      personally concerning career opportunities or you want to leave feedback, you can use the Contact Me section of the website.
      Thank you for visiting!</div>
  </div>
</div>
