<div class="container" id="skills">
    <div class="row">
      <div class="col">
        <img class="image-hover" src="/assets/Web-icons/Java.png" alt="Java-Logo">
        <div class="text-image">Java</div>
      </div>
      <div class="col">
        <img src="/assets/Web-icons/Hibernate.png" alt="">
        <div class="text-image">Hibernate</div>        
      </div>
      <div class="col">
        <img src="/assets/Web-icons/spring2.png" alt="">
        <div class="text-image">Spring</div>
      </div>
      <div class="col">
        <img src="/assets/Web-icons/Maven.png" alt="">
        <div class="text-image">Maven</div>
      </div>
      <div class="col">
        <img src="/assets/Web-icons/JUnit.png" alt="">
        <div class="text-image">JUnit</div>
      </div>
      <div class="col">
        <img src="/assets/Web-icons/Angular (2).png" alt="">
        <div class="text-image">Angular</div>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-effect" src="/assets/Web-icons/HTML5.png" alt="">
            <div class="text-image">HTML</div>
          </div>
          <div class="col">
            <img src="/assets/Web-icons/CSS3.png" alt="">
            <div class="text-image">CSS</div>
          </div>
          <div class="col">
            <img src="/assets/Web-icons/Bootstrap.png" alt="">
            <div class="text-image">Bootstrap</div>
          </div>
          <div class="col">
            <img src="/assets/Web-icons/Javascript.png" alt="">
            <div class="text-image">JavaScript</div>
          </div>
          <div class="col">
            <img src="/assets/Web-icons/Scrum.png" alt="">
            <div class="text-image">Scrum</div>
          </div>
          <div class="col">
            <img src="/assets/Web-icons/Java.png" alt="">
            <div class="text-image">JPA</div>
          </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/assets/Web-icons/MySQL.png" alt="">
            <div class="text-image">MySQL</div>
          </div>
          <div class="col">
            <img src="/assets/Web-icons/JDBC.png" alt="">
            <div class="text-image">JDBC</div>
          </div>
          <div class="col">
            <img src="/assets/Web-icons/Git.png" alt="">
            <div class="text-image">Git</div>
          </div>
          <div class="col">
            <img src="/assets/Web-icons/Ajax.png" alt="">
            <div class="text-image">Ajax</div>
          </div>
          <div class="col">
            <img src="/assets/Web-icons/Docker.png" alt="">
            <div class="text-image">Docker</div>
          </div>
          <div class="col">
            <img src="/assets/Web-icons/Jenkins.png" alt="">
            <div class="text-image">Jenkins</div>
          </div>
      </div>
  </div>
