.container {
    padding-bottom: 75px;
    padding-top: 5%;
}

img {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
    float: left;
}

img:hover {
    filter: none;
}

.text-image {
    padding-top: 160px;
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.col {
    padding: 10px 10px 10px 10px;
    margin: 1%;
}


