<div class="top-back">
  <app-header></app-header>
  <div>
    <app-intro></app-intro>
  </div>
</div>
<div class="mid-back">
  <div>
    <app-skills></app-skills>
  </div>

  
  <div class="top-back">
    <app-small-header></app-small-header>
  <router-outlet></router-outlet>
  </div>
  <div class="contact-main-makeup">
    <app-contact></app-contact>
  </div>
  <div class="bot-back">
    <app-footer></app-footer>
  </div>
</div>
