:root {
  --gradient: linear-gradient(rgba(255, 0, 0, 0), rgb(165, 165, 165), white);
}

.top-back {
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgb(165, 165, 165)
  );
  background-color: white;
  height: 110vh;
}

.mid-back {
  height: 100vh;
}

.bot-back {
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgb(165, 165, 165)
  );
  background-color: white;
  padding-top: 2%;
}

.contact-main-makeup {
  height: 100vh;
}