.title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 60px;
}

.form-control {
  padding-left: 0px;
}

.col-4 {
  border-style: groove;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgb(255, 255, 255)
  );
  width: 100%;
  height: 140%;
}

.image {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.author {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
  width: 100%;
  height: 60px;
}

.author-two {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: x-large;
  width: 100%;
  height: 100px;
}

.category .publish .rating .info .card {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: smaller;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 60px;
}

#bookObjects {
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgb(165, 165, 165)
  );
}

#wrapper {
  min-height: 100%;
}

.form-after {
  padding-top: 3%;
  padding-bottom: 3%;
}

.title-two {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 60px;
  color: black;
}

.extra-info {
    width: 100%;
    height: 150px;
}

#box-scroll {
  overflow-y: scroll;
  height: 600px;
  background-image: linear-gradient(
  to left,
  rgba(255, 0, 0, 0),
  rgb(165, 165, 165)
  );
}