<div class="full-project" id="wrapper">
  <div class="form-pre" id="wrapper">
    <div *ngIf="!loading" class="title">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="title-one">Search a book here!</div>
            <input
              [formControl]="queryField"
              id="keyword"
              type="search"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-after">
    <div *ngIf="loading" class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="title-two">Search for another book</div>
            <input
              class="form-control"
              [formControl]="queryField"
              type="search"
              id="keyword"
              placeholder="search for artists..."
              typeahead-wait-ms="delay"
              autocomplete="off"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div *ngIf="items">
      <div class="row" id="booksObjects" id="box-scroll">
        <div *ngFor="let product of items" class="col-4">
          <div class="image">
            <img
              *ngIf="product.volumeInfo.imageLinks.thumbnail"
              [src]="product.volumeInfo.imageLinks.thumbnail"
              alt=""
              width="145"
              height="200"
            />
          </div>
          <div class="author">
            <div
              *ngFor="let aut of product.volumeInfo.authors"
              class="author-two"
            >
              Authors: {{ aut }}
            </div>
          </div>
          <div class="details">Title: {{ product.volumeInfo.title }}</div>
          <div>
            <p>
              <button
                class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Read Description
              </button>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                {{ product.volumeInfo.description }}
              </div>
            </div>
          </div>
          <div class="extra-info">
            <div
              *ngFor="let cat of product.volumeInfo.categories"
              class="category"
            >
              <div>Categories: {{ cat }}</div>
            </div>
            <div class="publish">
              PublishDate: {{ product.volumeInfo.publishedDate }}
            </div>
            <div class="rating">
              Average Rating: {{ product.volumeInfo.averageRating }}
            </div>
            <div class="info">
              Link to
              <a href="{{ product.volumeInfo.infoLink }}" target="_blank"
                >Book</a
              >
            </div>
            <div class="favorite-btn">
              <button (click)="storeOnLocal(product.id)">
                Add Book to library
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
